In [1]:
import pandas as pd
import numpy as np

In [2]:
file_to_load = "../../Data/Zip Code Data.csv"

In [3]:
zip_df = pd.read_csv(file_to_load)

In [6]:
zip_df.head()

,Zip,LAT,LNG,Num_Disp,Sac_City,LA_City,Total_Pop,Percent_Under_18_Years,Percent_Ages_18_to_24,Percent_18_and_Older,...,Pct_Female,Females_Median_Age,Total_Households,Households_with_Children,Pct_Households_with_Children,Pct_Owner_Occupied,Pct_Renter_Occupied,Household_Median_Income,Household_Median_Inc_Quintiles,Pct_Earned_Income_Past_12_Months
0,90021,34.030124,-118.241779,44.0,No,Yes,2945,11.3,5.7,88.7,...,38.4,35.2,1734,171,9.9,9.0,91.0,21635,Quintile 1,25.4
1,90058,34.001842,-118.221127,9.0,No,Yes,2718,41.1,10.4,58.9,...,58.1,25.3,706,336,47.6,12.0,88.0,21964,Quintile 1,40.9
2,90013,34.046022,-118.246250,2.0,No,Yes,12559,3.2,5.5,96.8,...,36.5,40.6,7308,256,3.5,7.8,92.2,22316,Quintile 1,20.2
3,90007,34.028334,-118.285077,4.0,No,Yes,42433,14.2,38.3,85.8,...,48.4,25.1,11919,2213,18.6,12.3,87.7,27406,Quintile 1,41.6
4,90037,34.003494,-118.287097,1.0,No,Yes,67640,27.8,11.0,72.2,...,49.8,32.2,17699,6455,36.5,24.1,75.9,35424,Quintile 1,51.4

In [7]:
#Get rid of decimals for zip codes
zip_df['Zip'] = zip_df['Zip'].astype(str).apply(lambda x: x.replace('.0',''))

In [8]:
zip_df.head()

,Zip,LAT,LNG,Num_Disp,Sac_City,LA_City,Total_Pop,Percent_Under_18_Years,Percent_Ages_18_to_24,Percent_18_and_Older,...,Pct_Female,Females_Median_Age,Total_Households,Households_with_Children,Pct_Households_with_Children,Pct_Owner_Occupied,Pct_Renter_Occupied,Household_Median_Income,Household_Median_Inc_Quintiles,Pct_Earned_Income_Past_12_Months
0,90021,34.030124,-118.241779,44.0,No,Yes,2945,11.3,5.7,88.7,...,38.4,35.2,1734,171,9.9,9.0,91.0,21635,Quintile 1,25.4
1,90058,34.001842,-118.221127,9.0,No,Yes,2718,41.1,10.4,58.9,...,58.1,25.3,706,336,47.6,12.0,88.0,21964,Quintile 1,40.9
2,90013,34.046022,-118.246250,2.0,No,Yes,12559,3.2,5.5,96.8,...,36.5,40.6,7308,256,3.5,7.8,92.2,22316,Quintile 1,20.2
3,90007,34.028334,-118.285077,4.0,No,Yes,42433,14.2,38.3,85.8,...,48.4,25.1,11919,2213,18.6,12.3,87.7,27406,Quintile 1,41.6
4,90037,34.003494,-118.287097,1.0,No,Yes,67640,27.8,11.0,72.2,...,49.8,32.2,17699,6455,36.5,24.1,75.9,35424,Quintile 1,51.4

In [9]:
la_city_df = zip_df.loc[(zip_df['LA_City']=="Yes")]
la_city_df.head()

In [12]:
sac_city_df = zip_df.loc[(zip_df['Sac_City']=="Yes")]
sac_city_df.head()

,Zip,LAT,LNG,Num_Disp,Sac_City,LA_City,Total_Pop,Percent_Under_18_Years,Percent_Ages_18_to_24,Percent_18_and_Older,...,Pct_Female,Females_Median_Age,Total_Households,Households_with_Children,Pct_Households_with_Children,Pct_Owner_Occupied,Pct_Renter_Occupied,Household_Median_Income,Household_Median_Inc_Quintiles,Pct_Earned_Income_Past_12_Months
206,95815,38.60,-121.46,NaN,Yes,No,25673,27.0,10.2,73.0,...,48.5,33,9226,2749,29.8,33.7,66.3,34583,Quintile 1,31.4
256,95824,38.52,-121.44,NaN,Yes,No,30296,28.6,11.1,71.4,...,50.2,34.2,9103,3627,39.8,39.5,60.5,38985,Quintile 1,40.0
416,95832,38.43,-121.51,NaN,Yes,No,12114,29.6,12.1,70.4,...,49.3,31,3147,1257,39.9,49.3,50.7,47341,Quintile 1,38.4
421,95823,38.47,-121.44,NaN,Yes,No,79440,29.4,9.2,70.6,...,51.4,32,23710,9088,38.3,45.7,54.3,47553,Quintile 1,38.9
427,95838,38.64,-121.44,NaN,Yes,No,39053,29.3,10.8,70.7,...,49.7,32.9,11056,4087,37.0,50.3,49.7,48416,Quintile 2,38.1